*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 255, 213);
    font-family: Fira Code;
    font-size: 20px;
    padding: 75px;
}

h1{
    font-family: Roboto;
    font-size: 42px;
    color: greenyellow;
    margin-bottom: 25px;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

p{
    margin-bottom: 20px;

}

input, button{
    padding: 10px;
    font-size: 16px;
}
button{
    width:100px;
    text-align: center;
}

.first{
    color: red
}

#your-name{
    background-color: rgba(118, 42, 194, 0.782);
    border: 5px solid;
    width: 400px;
    padding: 25px;
    margin-top: 50px;
}

#your-name h2{
    color: olivedrab;
}
